<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461754351665-7cf4ab8vtsuokmmkqo1a1gcj6amf2f0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461754351665-7cf4ab8vtsuokmmkqo1a1gcj6amf2f0v</string>
	<key>API_KEY</key>
	<string>AIzaSyAxr10gNV-EQRYEvbFeNh3HbNkt1Bqp5xk</string>
	<key>GCM_SENDER_ID</key>
	<string>461754351665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kazuyasasakura.apiToJsonFirestoreCollection</string>
	<key>PROJECT_ID</key>
	<string>apitojsonfirestorecollection</string>
	<key>STORAGE_BUCKET</key>
	<string>apitojsonfirestorecollection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461754351665:ios:52058649071375c1a21510</string>
</dict>
</plist>